version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      typescript:
        patterns:
          - "typescript"
          - "tslib"
          - "@types/*"
      testing:
        patterns:
          - "vitest"
          - "@vitest/*"
      build:
        patterns:
          - "esbuild"
          - "builtin-modules"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
